*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: darkcyan;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  
    
    }
    header{
        background-color: rgba(156, 234, 234, 0.886);
        width: 100%;
         height: 200px;
         display: flex;
         justify-content: flex-start;
          align-items: center;
    }
    .logo1 img{
        width: 450px;
        display: flex;
        justify-content: space-around;
        margin-left: 10px;
      margin-right: 100px;}

           
           
    
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

 .uno {
  font-size: 25px;
  padding: 10px;
  margin: 10px;
  list-style: none;
  display: flex;
  
}

 .uno a  {
  color: rgb(49, 36, 135);
  text-decoration: none;
  font-style: oblique;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }

 .uno {
  background-color: #f3f4f442;
  border-radius: 20px;
  cursor: pointer;
 
  
}

.SINOPSIS img{
  display: flex;
   width: 300px;
   float: left;
    margin: 10px;
}
h2{
  font-size: 25px;
}
.SINOPSIS{
    display: flex;
    background-color: aquamarine;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;}
    
  h3{
    background-color: rgba(87, 219, 51, 0.774);
    font-size: 25px;
    text-align: center;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
    }
    .contenedor{
        background-color: #6de675;
        display: flex;
        margin: 20px;
        padding: 15px;
        border-radius: 50px;
        justify-content: center;
        
    }
    .contenedor img{
      width: 180px;
     border-radius: 100px;
     margin-right: 10px;
     display: flex;
     
     
                    }
                   
    .nombre-personaje {
    font-size: 18px;
    text-align: center;
    margin: 5px;
                  }  

    .tarjeta {
        background-color: rgb(139, 240, 130);
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        border-radius: 20px;
        margin: 20px;
        width: 200px;
        cursor: pointer;
    }
.tarjeta .personaje-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
}
       .VER-ONLINE {
        background-color: rgb(80, 207, 165);
        display: flex;
        justify-content: left;
        font-size: 20px;
        border-radius: 50px;
        margin: 20px;
        padding: 10px;
     
         }

    .VER-ONLINE img{
        width: 200px;
        border-radius: 50px;
        margin: 15px;
        
    }
   footer {
    background-color:rgb(138, 181, 230) ;
    height: 150px;
    display: flex;
    font-size: 15px;
   justify-content: space-between;
    
           }
    .IZQUIERDA{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 18px ;
        padding-left: 30px;
             
    }

   .derecha{
    background-color: hwb(125 79% 6% / 0.8);
    display: flex;
     padding: 10px;
     margin-right: 100px;
     margin-top: 60px;
    border-radius: 20px;
                     }
    .final{
   text-decoration: none;
   font-size: 18px;
    color: rgb(11, 38, 102);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-style: oblique;
                  
                     }
                                
@media  (max-width: 480px){

  body{background-color: black;}
       
  header{
      background-color: rgb(97, 212, 115);
       width: 100%;
        height: 180px;
       display: block; 
     }
     .logo1 img{
       width: 300px;
       display:flex;
       justify-content: center;
       
      
              }

            .uno a  {
 color: rgb(5, 3, 22);
 text-decoration: none;
 font-size: 15px;
 font-style: normal;
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
 }   
.uno {
  background-color: #dfebed42;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  
   }
   .SINOPSIS{
    display: block;
    background-color: aquamarine;
    margin: 15px;
    padding: 20px;
    font-size: 15px;
    border-radius: 50px;}
    .SINOPSIS img{
      display: flex;
       width: 150px;
        margin: 10px;
    }
   

.VER-ONLINE img{
 width: 150px;
 border-radius: 60px;
 margin-top: 40px;
      }
      .online{
        font-size: 15px;
      }

 footer {
   background-color:rgb(138, 181, 230) ;
   height: 150px;
   display: flex;
   font-size: 10px;
  justify-content: space-between;
              }
  .IZQUIERDA{
  flex-direction: column;
  justify-content: last left;
  font-size: 14px ;
  display: flex;
  }
        
  .derecha{
    background-color: hwb(111 18% 11% / 0.8);
    padding: 10px;
    margin-right: 20px;
    font-size: 15px;
    margin-top: 80px;
    border-radius: 20px;
   }
   .final{
    font-size: 15px;
   }
 }
  


                     
   




  
   
   
  

