*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: darkcyan;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  
    
    }
    header{
        background-color: rgba(156, 234, 234, 0.886);
        width: 100%;
         height: 200px;
         display: flex;
         justify-content: center;
          align-items: center;
    }
    .logo1 img{
        width: 450px;
        display: flex;
        justify-content: space-around;
      margin-right: 60px;}

             
           
           
    
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .uno {
  font-size: 25px;
  padding: 20px;
  margin: 10px;
  list-style: none;
  display: flex;
  
}

 .uno a  {
  color: rgb(49, 36, 135);
  text-decoration: none;
  font-style: oblique;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }

 .uno {
  background-color: #dfebed42;
  border-radius: 20px;
  cursor: pointer;

  
}

.SINOPSIS img{
  display: flex;
   width: 250px;
   float: none;
    margin: 10px;
}
h2{
  font-size: 27px;
}
.SINOPSIS{
    display: flex;
    background-color: aquamarine;
    margin: 20px;
    padding: 10px;
    font-size: 25px;
    border-radius: 50px;}
    
  h3{
    background-color: aqua;
    margin: 20px;
    padding: 10px ;
    font-size: 25px;
    text-align: center;
    border-radius: 50px;
    }
    .conteiner{
        background-color: #71e979;
        display: flex;
        margin: 20px;
        flex-wrap: wrap;
        padding: 15px;
        border-radius: 50px;
        justify-content: center;
        
    }
    .grid-item img{
     width: 150px;
     border-radius: 100px;
       }
    .conteiner div{
        background-color: rgb(119, 215, 116);
        text-align: center;
        flex-wrap: wrap;
         padding: 80;
        border-radius: 20px;
        margin: 10px;
        width: 200px;
    }

       .VER-ONLINE {
        background-color: rgb(80, 207, 165);
        display: flex;
        justify-content: left;
        font-size: 25px;
        border-radius: 50px;
        margin: 20px;
        padding: 10px;
     
         }

    .VER-ONLINE img{
        width: 250px;
        border-radius: 50px;
        margin: 15px;
        
    }
   footer {
    background-color:rgb(138, 181, 230) ;
    height: 150px;
    display: flex;
    font-size: 20px;
   justify-content: space-between;
    
           }
    .IZQUIERDA{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 20px ;
        padding-left: 40px;
             
    }

   .derecha{
    background-color: hwb(124 77% 12% / 0.8);
    display: flex;
     padding: 10px;
     margin-right: 100px;
     margin-top: 80px;
    border-radius: 20px;
                     }
    .final{
   text-decoration: none;
   font-size: 15px;
    color: rgb(11, 38, 102);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                      
                     }
                                
@media  (max-width: 480px){

  body{background-color: black;}
       
  header{
      background-color: rgb(97, 212, 115);
       width: 100%;
        height: 200px;
       display: block; 
     }
     .logo1 img{
       width: 300px;
       display:flex;
       text-align: center;
       justify-content: center;
              }
            .uno a  {
 color: rgb(5, 3, 22);
 text-decoration: none;
 font-size: 15px;
 font-style: normal;
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
 }   
.uno {
  background-color: #dfebed42;
  border-radius: 20px;
  cursor: pointer;
  justify-content: center;
 
 .SINOPSIS{
   display: flex;
   background-color: aquamarine;
   font-size: 15px;
   border-radius: 50px;}
                

.VER-ONLINE img{
 width: 90px;
 border-radius: 50px;
 float: none;
     }

 footer {
   background-color:rgb(138, 181, 230) ;
   height: 150px;
   display: flex;
   font-size: 15px;
  justify-content: space-between;
              }
  .IZQUIERDA{
  flex-direction: column;
  justify-content: last left;
  font-size: 10px ;
  display: flex;
  }
        
  .derecha{
    background-color: hwb(186 30% 32% / 0.8);
     padding: 10px;
    margin-right: 20px;
    margin-top: 80px;
    border-radius: 20px;
                                }
 }
  


                     
   




  
   
   
  

